.notification-bar{cursor:pointer;display:none;left:50%;margin-left:-500px;position:fixed;top:0;width:1000px;z-index:9999;border:1px solid rgba(0,0,0,0.2);border-top:none;box-shadow:0 1px 2px rgba(0,0,0,0.2);background-color:#FFEF9B;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box; }
.notification-bar p{color:#111;display:none;font-size:14px;margin:15px auto;opacity:0;}
.notification-bar p strong{font-weight:bold;}
.notification-bar .close{display:none;position:absolute;right:20px;top:50%;margin-top:-11px;opacity:0;height:22px;}
.notification-bar.alert-error{background-color:#F2DEDE;border-color:#B94A48;}
.notification-bar p.alert-error{color:#B94A48;}
.notification-bar.alert-error .close{color:#B94A48;opacity:0.5;}
.notification-bar.alert-danger{background-color:#F2DEDE;border-color:#B94A48;}
.notification-bar p.alert-danger{color:#B94A48;}
.notification-bar.alert-danger .close{color:#B94A48;opacity:0.5;}
.notification-bar.alert-success{background-color:#dff0d8;border-color:#d6e9c6;}
.notification-bar p.alert-success{color:#468847;}
.notification-bar.alert-success .close{color:#468847;opacity:0.5;}
.notification-bar.alert-info{background-color:#d9edf7;border-color:#bce8f1;}
.notification-bar p.alert-info{color:#3a87ad;}
.notification-bar.alert-info .close{color:#3a87ad;opacity:0.5;}


.message-alert {margin:0 70px 70px 70px; padding: 60px 0 80px 150px;color:#111;font-size:14px;background-color:#FFEF9B;}
.message-alert strong{font-weight:bold;}
.message-alert.alert-error{background-color:#F2DEDE;border-color:#B94A48;color:#B94A48;}
.message-alert.alert-danger{background-color:#F2DEDE;border-color:#B94A48;color:#B94A48;}
.message-alert.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.message-alert.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
